html, body {
    font-family: arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #F7F7F7;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #F7F7F7;
}



.AddTaskPanel {
    margin: 8px;
}


.TasksListCount {
    margin: 8px;
}